<a href='/'>Home</a>
<a href='/profile'>Profile</a>
<a href='/signup'>Sign-up</a>
<a href='/login'>Login</a>
<a href='/dashboard'>Dashboard</a>
<a href='/logout'>logout</a>
<!--<div class="canva-embed" data-height-ratio="0.1236" data-design-id="DACpZhrxgOc" style="padding:12.36% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;">
</div>
<script async src="https://sdk.canva.com/v1/embed.js"></script>-->
