    <div class='header-stuff'>
      <nav class='navbar' role='navigation'>
        <a href='/profile' class='nav-fixed-left'><i class="fa fa-user" aria-hidden="true"></i></a>
        <a href='/'><h1 class='main-header'>BAND TOGETHER</h1></a>
        <a href='#' class='nav-fixed-right'><i class="fa fa-comments-o" aria-hidden="true"></i></a>
      </nav>
    </div>

<style>

.main-header {
  font-family: 'Amatic SC';
  margin: auto;
  position: relative;
  margin-top: 7px;
  color: black;
}

.nav-fixed-left {
  float: left;
}

.nav-fixed-right {
  float: right;
}

a:hover {
  cursor: pointer;
}

.container {
  margin-top: 5em;
}

.header-stuff {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.navbar a, .navbar h1 {
  display: inline-block;
  text-decoration: none;
}

.navbar i {
  color: black;
  margin-top: 9px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

</style>
