<!doctype html>
<html>
  <head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <% include partials/head %>
    <% include partials/chat-styles %>

  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <div class='box'>
      <ul id="messages">
        <% for (var i = 0; i < chats.length; i++) { %>
          <li class="<%= String(chats[i].owner) == String(user._id) ? 'yours' : 'notYours' %>" ><%= chats[i].message %>
          </li>
        <% } %>
      </ul>
    </div>
      <form action="">
        <input id="m" autocomplete="off" placeholder="Type anything..."/><button>Send</button>
      </form>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

      $(function () {
        var socket = io();
        var me = <%- JSON.stringify(user._id) %>;
        console.log(me);
        var room = window.location.pathname.split("/").pop();

          socket.on('connect', function() {
              // Connected, let's sign-up for to receive messages for this room
              socket.emit('room', room);
            });

        $('form').submit(function(){
          $.post('', {'chat' : $('#m').val()}, function(result) {
            });

          socket.emit('chat message', {message:$('#m').val(), owner: me}, room);
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          console.log(msg);
          if (msg.owner == me) {
              $('#messages').append($('<li class="yours">').text(msg.message));
          }
          else {
              $('#messages').append($('<li class="notYours">').text(msg.message));
          }

          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
  </body>
</html>
