<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="index-app.css" rel="stylesheet" type="text/css" />
    <% include partials/head %>
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        .hidden       { display:none; }
        /*.music-selector { text-align: center; }*/
        .choice-btn      { margin-left: 2vw;}
        .save-button    { margin-top: 3vw; }
        .intro     { text-align: left; }

    </style>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>

  <div class="card intro">

    <div class="text-center">
        <h1 class='page-header'>Edit Your Profile</h1>
    </div>

    <form class='save-stuff'>    <!-- band info, bio, and images. -->
      <div class="band-info">
        <div class="form-group band-info">
          <input type="text" class="form-control stage-name" name="band-name" placeholder="Stage Name" required/>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control stage-name" name="band-bio" placeholder="A little bit about you..." required></textarea>
        </div>
        <section class='genreChoicesSection'>
          <h3 class='page-header'>Genre</h3>
          <input class='genreChoices' type="checkbox" name="genre" value=" Rock"> Rock<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Indie"> Indie<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Alternative"> Alternative<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Hip-hop"> Hip-hop<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Metal"> Metal<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Psychadelic"> Psychadelic<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Experimental"> Experimental<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Electronic"> Electronic
        </section>
        <section class='bandLookingFor'>
          <h3 class="page-header"> Looking for people who can rock:</h3>
          <input class='skill' type="checkbox" name="skill" value=" Vocalist"> Vocals<br>
          <input class='skill' type="checkbox" name="skill" value=" Lead Guitarist"> Lead Guitar<br>
          <input class='skill' type="checkbox" name="skill" value=" Rhythm Guitarist"> Rhythm Guitar<br>
          <input class='skill' type="checkbox" name="skill" value=" Bassist"> Bass Guitar<br>
          <input class='skill' type="checkbox" name="skill" value=" Drummer"> Drumms<br>
          <input class='skill' type="checkbox" name="skill" value=" Keyboard player"> Keyboard<br>
          <input class='skill' type="checkbox" name="skill" value=" Saxophone player"> Saxophone<br>
          <input class='skill' type="checkbox" name="skill" value=" Upright Bass player"> Upright Bass<br>
          <input class='skill' type="checkbox" name="skill" value=" Celloist"> Cello<br>
          <input class='skill' type="checkbox" name="skill" value=" Violinist"> Violin<br>
          <input class='skill' type="checkbox" name="skill" value=" Trumpeter"> Trumpet<br>
          <input class='skill' type="checkbox" name="skill" value=" Producer"> Production<br>
          <input class='skill' type="checkbox" name="skill" value=" Pianist"> Piano<br>
          <input class='skill' type="checkbox" name="skill" value=" DJ"> DJ
        </section>
        <div class='youtubeSubmit'>
          <h3 class='page-header'> Submit a video of yourself </h3>
          <input type='text' class= 'youtubeUrl' placeholder="Enter Your YouTube URL" >
        </div>
        <button type= 'submit' class="save-button"> Submit</button>
      </div>
    </form>
  </div>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>
  $('.band-seeking').click (function(e) {
    e.preventDefault();
    $('.band-info').removeClass('hidden');
    $('.save-button').removeClass('hidden');
    $('.artist-info').addClass('hidden');
  });

  $('.artist-seeking').click (function(e) {
    e.preventDefault();
    $('.artist-info').removeClass('hidden');
    $('.save-button').removeClass('hidden');
    $('.band-info').addClass('hidden');
  });

  $('form.save-stuff').submit (function(e) {
    //event.preventDefault();
      let bio = $('textarea[name="band-bio"]').val();
      let name = $('input[name="band-name"]').val();
      let youtube = $('.youtubeUrl').val();
      console.log(name);
      console.log(bio);
      let genres = [];
      $.each($("input[name='genre']:checked"), function(){
          genres.push($(this).val());
          console.log(genres);
        });

      let seeking = [];
      $.each($("input[name='skill']:checked"), function(){
        seeking.push($(this).val());
        console.log(seeking);
      });
            $.post('',
            {
              name : name,
              bio  :  bio,
              genres : genres,
              seeking : seeking,
              youtube : youtube

            },
            function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
                window.location.href='/profile';
            });

      });


 </script>

</body>
</html>
