<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        .hidden       { display:none; }
        .music-selector { text-align: center; }
        .choice-btn      { margin-left: 2vw;}
    </style>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>

  <div class="container">

    <div class="page-header text-center">
        <h1>Customize Your Profile</h1>
    </div>

    <div class='music-selector'>
      <button class='artist-seeking choice-btn'>Artist seeking Band</input>
      <button class='band-seeking choice-btn'>Band seeking Artist </input>
    </div>


    <!--<form action="/customize" method = "post" class="row artist-info hidden">
      <label for="artist-name">Artist Name</label>
      <input type="text" name="artist-name" id="artist-name" placeholder="Name"/>
      <label for="artist-bio">A little bit about yourself:</label>
      <input type="text" name='artist-bio' id='artist-bio' placeholder="Describe your sound"/>

      <fieldset class='genreChoices'>
          <h3>Genre</h3>
          <input type="checkbox" name="genre" value="Rock"> Rock<br>
          <input type="checkbox" name="genre" value="IndieRock"> Indie<br>
          <input type="checkbox" name="genre" value="Alternative"> Alternative<br>
          <input type="checkbox" name="genre" value="Hip-hop"> Hip-hop<br>
          <input type="checkbox" name="genre" value="Metal"> Metal<br>
          <input type="checkbox" name="genre" value="Psychadelic"> Psychadelic<br>
          <input type="checkbox" name="genre" value="Experimental"> Experimental<br>
          <input type="checkbox" name="genre" value="Electronic"> Electronic
      </fieldset>
      <button class='save-button'>Save</button>
  </form>-->


    <form class='save-stuff'>    <!-- band info, bio, and images. -->
    <div class="row band-info hidden">
      <div class="form-group band-info">
          <label>Band name</label>
          <input type="text" class="form-control" name="band-name">
      </div>
      <div class="form-group">
          <label>A little bit about your band</label>
          <input type="text" class="form-control" name="band-bio">
      </div>
      <section class='genreChoicesSection'>
          <h3>Genre</h3>
          <input class='genreChoices' type="checkbox" name="genre" value=" Rock"> Rock<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" IndieRock"> Indie<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Alternative"> Alternative<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Hip-hop"> Hip-hop<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Metal"> Metal<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Psychadelic"> Psychadelic<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Experimental"> Experimental<br>
          <input class='genreChoices' type="checkbox" name="genre" value=" Electronic"> Electronic
      </section>
      <section class='bandLookingFor'>
        <h3> Looking for people who can rock:</h3>
        <input class='skill' type="checkbox" name="skill" value=" Vocals"> Vocals<br>
        <input class='skill' type="checkbox" name="skill" value=" Lead Guitar"> Lead Guitar<br>
        <input class='skill' type="checkbox" name="skill" value=" Rhythm Guitar"> Rhythm Guitar<br>
        <input class='skill' type="checkbox" name="skill" value=" Bass Guitar"> Bass Guitar<br>
        <input class='skill' type="checkbox" name="skill" value=" Drumms"> Drumms<br>
        <input class='skill' type="checkbox" name="skill" value=" Keyboard"> Keyboard<br>
        <input class='skill' type="checkbox" name="skill" value=" Saxophone"> Saxophone<br>
        <input class='skill' type="checkbox" name="skill" value=" Upright Bass"> Upright Bass<br>
        <input class='skill' type="checkbox" name="skill" value=" Cello"> Cello<br>
        <input class='skill' type="checkbox" name="skill" value=" Violin"> Violin<br>
        <input class='skill' type="checkbox" name="skill" value=" Trumpet"> Trumpet<br>
        <input class='skill' type="checkbox" name="skill" value=" Production"> Production<br>
        <input class='skill' type="checkbox" name="skill" value=" Piano"> Piano<br>
        <input class='skill' type="checkbox" name="skill" value=" DJ"> DJ
      </section>

      <input type='text' class= 'youtubeUrl' placeholder="Enter Your YouTube URL" required>
      <!--<button type="submit" class="save-button hidden">Save</button>-->
      <button type= 'submit' class="save-button btn btn-default"> Submit</button>
    </div>
  </form>



</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>
  $('.band-seeking').click (function(e) {
    e.preventDefault();
    $('.band-info').removeClass('hidden');
    $('.save-button').removeClass('hidden');
    $('.artist-info').addClass('hidden');
  });

  $('.artist-seeking').click (function(e) {
    e.preventDefault();
    $('.artist-info').removeClass('hidden');
    $('.save-button').removeClass('hidden');
    $('.band-info').addClass('hidden');
  });

  $('form.save-stuff').submit (function(e) {
    //event.preventDefault();
      let bio = $('input[name="band-bio"]').val();
      let name = $('input[name="band-name"]').val();
      let youtube = $('.youtubeUrl').val();
      console.log(name);
      console.log(bio);
      let genres = [];
      $.each($("input[name='genre']:checked"), function(){
          genres.push($(this).val());
          console.log(genres);
        });

      let seeking = [];
      $.each($("input[name='skill']:checked"), function(){
        seeking.push($(this).val());
        console.log(seeking);
      });
            $.post('',
            {
              name : name,
              bio  :  bio,
              genres : genres,
              seeking : seeking,
              youtube : youtube

            },
            function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
                window.location.href='/profile';
            });

      });


 </script>

</body>
</html>
