<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

  <header>
    <% include partials/header %>
  </header>

<div class="container">


    <div class="page-header text-center">
        <h1> Dashboard </h1>
    </div>

    <ul>
    <% for (var i = 0; i < all.length; i++) { %>
      <li data-id= '<%= all[i].id %>'>

        <%= all[i].facebook.name %>
        <%= all[i].local.email %>
        <%= all[i].google.name %>
        <button class='likeButton' value='likes'>Like</button>
        <button class='dislikeButton' value='dislikes'>Dislike</button>
      </li>
      <% } %>
    </ul>
</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>

  $('button').click (function(e) {
    window.par = this;
    console.log($(this).parent().data('id'))
    let id = $(this).parent().data('id');
    let value = this.value;
    $.post('',
    {
        id    : id,
        value : value
    },
    function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
    });
});
</script>

</html>
