<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body         { padding-top:80px; }
        .container   { width: 95%; margin-top: 3vw;}
    </style>

</head>
<body>
  <header>
    <% include partials/header %>
  </header>

<div class="container">

    <div class="jumbotron text-center">
        <h3>Start jamming with others near you</h3>

        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default"> Signup</a>


        <!--<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>-->
    </div>


</div>



</body>
</html>
