<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <link href="mobile.css" rel="stylesheet" type="text/css" />

    <% include partials/head %>

</head>

<body>

  <header>
    <% include partials/intro-header %>
  </header>

    <!--after sign-up, an intro of four slides shows how the app works-->
  <ul class='introSlide '>
    <li class ='first-slide slide' >
      <h2 class='slide-header'>Discover new <br> musicians near you</h2>
      <img class='firstSlide-img slide-img' src='https://image.ibb.co/c3xfEw/Screen_Shot_2017_12_30_at_1_41_32_AM.png" alt="dashboard-screenshot" border="0"'>
      <div class='firstDots dots'>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </div>
      <button class='firstSlide-nxtBtn nxtBtn'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </li>

    <li class ='secondSlide slide hidden' >
      <h2 class='slide-header'>Thumbs up to jam <br> with someone or <br>thumbs down to pass</h2>
      <img class='firstSlide-img slide-img' src='https://image.ibb.co/igQe7G/Screen_Shot_2017_12_30_at_2_48_03_PM.png' alt="profile-screenshot" border="0">
      <button class='secondSlide-prvBtn prvBtn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <div class='secondDots dots'>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </div>
      <button class='secondSlide-nxtBtn nxtBtn'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </li>

    <li class ='thirdSlide slide hidden' >
      <h2 class='slide-header'>If they give you the <br> thumbs up, it's a Match!!</h2>
      <img class='firstSlide-img slide-img' src='https://image.ibb.co/eumdjw/Screen_Shot_2017_12_30_at_4_05_05_PM.png' alt="its-a-match-screenshot" border="0">
      <button class='thirdSlide-prvBtn prvBtn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <div class='thirdDots dots'>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </div>
      <button class='thirdSlide-nxtBtn nxtBtn'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </li>

    <li class ='fourthSlide slide hidden' >
      <h2 class='slide-header'>Start chatting with people <br> you've matched!</h2>
      <img class='firstSlide-img slide-img' src='https://image.ibb.co/fj8urb/Screen_Shot_2017_12_30_at_4_41_03_PM.png" alt="chat-screenshot" border="0"'>
      <h3 class='finalSlide-footer'>Hit next to customize your profile <br> and start meeting people!</h3>
      <button class='fourthSlide-prvBtn prvBtn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <div class='fourthDots dots'>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
      </div>
      <button class='fourthSlide-nxtBtn nxtBtn'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </li>

  </ul>

</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>

    //next-button functionality on each intro slide, hiddes current slide, displays next slide
  $('.firstSlide-nxtBtn').click(function(e){
    $('.first-slide').addClass('hidden');
    $('.secondSlide').removeClass('hidden');
  });

  $('.secondSlide-nxtBtn').click(function(e){
    $('.secondSlide').addClass('hidden');
    $('.thirdSlide').removeClass('hidden');
  });

  $('.thirdSlide-nxtBtn').click(function(e){
    $('.thirdSlide').addClass('hidden');
    $('.fourthSlide').removeClass('hidden');
  });

    //hides final slide, redirects to customize page
  $('.fourthSlide-nxtBtn').click (function(e) {
    $('.fourthSlide').addClass('hidden');
    window.location ='/customize';
  });


    //previous-button functionality on each slide, hides current and shows previous slide
  $('.secondSlide-prvBtn').click (function(e) {
    $('.secondSlide').addClass('hidden');
    $('.first-slide').removeClass('hidden');
  });

  $('.thirdSlide-prvBtn').click (function(e) {
    $('.thirdSlide').addClass('hidden');
    $('.secondSlide').removeClass('hidden');
  });

  $('.fourthSlide-prvBtn').click (function(e) {
    $('.fourthSlide').addClass('hidden');
    $('.thirdSlide').removeClass('hidden');
  });


</script>

</html>
