<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <link href="mobile.css" rel="stylesheet" type="text/css" />
    <% include partials/head %>
    <style>
        li           {display: block;}
        .profile-intro  {text-align: center;}
    </style>

</head>

<body>

  <header>
    <% include partials/matches-header %>
  </header>

      <ul class='card'>
        <h2 class='profile-intro'>Your matches</h2>
          <% for(var i=0; i<user.matches.length; i++) { %>
            <li class='matches-list'>
                  <a href='chat/<%= user.matches[i].chatId %>'>
                      <%= user.matches[i].userName %>
                  </a>
              </li>
          <% } %>
          <% if (user.matches.length <= 0) { %>
            <h3 class='noLove'> You currently have no matches. Head to the <a href='/dashboard'>dashboard</a> to find people near you. </h3>
          <% } %>
        </ul>


</body>
</html>
