body  {
  padding-top:70px;
  word-wrap:break-word;
  padding-bottom: 40px;
}

.hidden  {
  display:none;
}

@media only screen and (max-width: 470px) {

  .card {
    width : 100%;
  }

  .modal-content {
    width: 100%;
  }

  .slide {
    width: 100%;
  }

  .slide-img {
    width: 80%;
  }

  .modal-content {
    width: 100%;
  }
}
